.result-card {

  display: flex;
  /* margin-left: 15%; */
  border-top: solid;
  height: 174px;
  width: 60%;
}

.img-border {
  display: flex;
  align-items: center;
  margin-left: 1%;
}

.results-img {
  height: 100px;
  width: 100px;
}

.name-rating {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: fit-content;
  margin-top: 4vh;
  margin-left: 2vw;
}

.results-name {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 22px;
}
.results-rating {
  display: flex;
  justify-content: flex-start;
}

.result-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}


.rating {
  width: 100%;
  height: 100%;
}


@media (max-width: 375px) {
  .result-card{
    width: 369px;
  }
  
}

