.card-map {
  display: flex;
}

.map-pic {
  max-width: 50%;
  max-height: 50%;
}

.display-map {
  margin-left: 10%;
}

span {
  font-weight: bold;
}



.h1-results-title{
    margin-top: 30px;
    font-size: 30px;
  
}
.bold{ 
  font-weight: bold;
}

@media (max-width: 480px){

 .map-responsive {
   display: none;
 }

 .h1-results-title{
   margin-bottom: 50px;
   background-color: #F4F4F4 
 }

 .tester{
  background-color: #F4F4F4 
 }
}