.flex-header {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.top-left {
  margin-left: 10px;
  margin-top: 25px;
}

.yelp-pic {
  width: 160px;
  height: 80px;
  padding-top: 50px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  color: black; 
  margin-top: 25px;
}

.navlink {
  color: #fff;
  display: block;
  padding: 9px 12px 10px;
  font-size: 12px;
  line-height: 1.28571em;
  font-weight: 700;
  background: none;
  border-radius: 0;
  border: 2px solid transparent;
  padding-bottom: 8px;
}

.navlink:hover {
  box-shadow: 0 2px 0 0 white;
}

.sign-up {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  line-height: 1.28571em;
  padding: 8px 19px 9px 19px;
  border-radius: 3px;
  border-color: #ccc;
  color: white;
  /* background-color: #f7f7f7; */
}

.sign-up:hover,
.sign-up:visited {
  color: #666;
  background-color: white;
}

.sign-up-primary,
.sign-up--primary {
  /* color: white; */
  border-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.search-input {
  width: 80%;
  height: 20px;
}

.background {
  height: 570px;
  background-image: url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/252051bf4fce/assets/img/home/hero_photos/oYJx-YOK9dqe0F56bS2tDQ.jpg');
}

.search-bar {
    background-color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.center-menu {
  height: 165px;
}

.search-form {
  /* width: 100%; */
  margin: 0 12px auto;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  background: none !important;
}

.search-bar {
  background: white;
  display: flex;
  height: 36px;
  width: 700px;
  margin: 12px auto;
}

.search-bar > input {
  width: 330px;
  box-sizing: border-box;
  height: 36px;
  padding: 8px 12px;
  border: none;
  background: inherit;
  font-size: 14px;
}

.search-bar > input:first-of-type {
  border-right: 1px solid #ccc;
}

.search-bar > span:last-of-type {
  margin-left: 10px;
}

.search-bar > input:focus {
  outline: none;
}
.search-bar > span {
  box-sizing: border-box;
  height: 36px;
  margin: 30px 5px 10px 5px;
  font-weight: bold;
}

.search-button {
  border: none;
  background: #b61010;
  box-sizing: border-box;
  height: 36px;
  width: 55px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.search-button:hover {
  background: #a71c1c;
}

.search-button > img {
  height: 24px;
  width: 24px;
  margin: auto;
}
