.flex-header {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}

.top-left {
  margin: 10px;
}

.yelp-pic {
  width: 160px;
  height: 80px;
  padding-top: 50px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  color: black;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 5px;
}

.search-input {
  width: 80%;
  height: 20px;
}

.background {
  height: 570px;
  background-image: url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/252051bf4fce/assets/img/home/hero_photos/oYJx-YOK9dqe0F56bS2tDQ.jpg');
}

.search-bar {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.center-menu {
  height: 200px;
}
