.main-div {
    background-color:#CE1313;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.yelp-pic2{
    width: 160px;
    height: 80px;
    
}

.signup {
    background-color: #B61010;
    color: white;
    font-weight: bold;
   border: thin;
   height: 40px;
   width: 90px;
  
}
.signup:hover {
    background-color:rgb(156, 14, 14);
}

.second-div {
    background-color:#B61010;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.search-button {
    background-color:transparent;
}

.login-button{
    background-color: #B61010;
    font-weight: bold;
    color:white;
    border: thin;
    height: 40px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button:hover {
    background-color:rgb(156, 14, 14);
}

.links {
    display: flex
}

.results-title{
    text-align: center;
}

@media(max-width: 400px) {
    .yelp-pic2 {
      height: 40px;
      width: 80px;
    }
    a {
      font-size: 10px;
    }
  }