.main-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  position: relative;
  background: #d32323
    url(https://s3-media4.fl.yelpcdn.com/assets/srv0/yelp_styleguide/c146b0884f6a/assets/img/structural/header_stars.png)
    no-repeat center;
}

.yelp-pic2 {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -1000em;
  height: 40px;
  width: 80px;
}

.signup {
  background-color: #b61010;
  color: white;
  font-weight: bold;
  border: thin;
  height: 40px;
  width: 90px;
}
.signup:hover {
  background-color: rgb(156, 14, 14);
}

.second-div {
  background-color: #b61010;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-button {
  background-color: transparent;
}


.login-button {
  background-color: #b61010;
  font-weight: bold;
  color: white;
  border: thin;
  height: 40px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button:hover {
  background-color: rgb(156, 14, 14);
}

.links {
  display: flex;
  font-size: 13px;
}

.results-title {
  text-align: center;
}

@media (max-width: 400px) {
  .yelp-pic2 {
    height: 40px;
    width: 80px;
  }
  a {
    font-size: 10px;
  }
}
