.business-body{
    background-color: #F4F4F4;
    padding: 50px;
}

.h2-business{
    font-size: 22px
}

.business-flex {
    display: flex;
    justify-content: center;
}

.business {
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}
.business-title {
    display: flex;
    justify-content:center;
    font-size: 14px;
    font-weight: bold;
    height: 35px;

}

.business-img {
    height: 175px;
    width: 190px;
    border-radius: 5px;
}