.main-container {
  background-color: #f5f5f5;
}

.four-divs {
  font-size: 11px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}

.about-section {
}
.about {
  font-weight: bold;
  color: red;
  font-size: 13px;
}

.discover-section {
}
.discover {
  font-weight: bold;
  color: red;
  font-size: 13px;
}

.yelp-for-biz-owners {
}

.yelp-for-owners {
  font-weight: bold;
  color: red;
  font-size: 13px;
}

.languages {
}
.langs-p {
  font-weight: bold;
  color: red;
  font-size: 13px;
}

.site-map-cities {
}

.countries-p {
  font-weight: bold;
  color: red;
  font-size: 13px;
}

.copyright {
  font-size: 10px;
}

/* ON HOVER EFFECTS */

.about-yelp:hover {
  opacity: 1.5;
  cursor: pointer;
}

.careers {
  opacity: 1.5;
  cursor: pointer;
}

.press {
  opacity: 1.5;
  cursor: pointer;
}

.investor-rels {
  opacity: 1.5;
  cursor: pointer;
}

.content-guidelines {
  opacity: 1.5;
  cursor: pointer;
}

.tos {
  opacity: 1.5;
  cursor: pointer;
}

.priv-pol {
  opacity: 1.5;
  cursor: pointer;
}

.ad-choices {
  opacity: 1.5;
  cursor: pointer;
}

.local-yelp {
  opacity: 1.5;
  cursor: pointer;
}

.yelp-blog {
  opacity: 1.5;
  cursor: pointer;
}

.support {
  opacity: 1.5;
  cursor: pointer;
}

.yelp-mobile {
  opacity: 1.5;
  cursor: pointer;
}

.developers {
  opacity: 1.5;
  cursor: pointer;
}

.rss {
  opacity: 1.5;
  cursor: pointer;
}

.claim-business {
  opacity: 1.5;
  cursor: pointer;
}

.ad-on-yelp {
  opacity: 1.5;
  cursor: pointer;
}

.reservations {
  opacity: 1.5;
  cursor: pointer;
}

.wifi {
  opacity: 1.5;
  cursor: pointer;
}

.biz-source-stories {
  opacity: 1.5;
  cursor: pointer;
}

.biz-support {
  opacity: 1.5;
  cursor: pointer;
}

.yelp-blog-owners {
  opacity: 1.5;
  cursor: pointer;
}

.english {
  opacity: 1.5;
  cursor: pointer;
}

.us {
  opacity: 1.5;
  cursor: pointer;
}
@media (max-width: 400px) {
  .four-divs {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 14px;
  }

  .footer-img{
    width: 350px;
  }
}
