/* ///////  CSS FOR LOGIN PAGE ////////*/

/* ///////  CSS FOR REGISTER PAGE ////////*/
.main-content {
    min-width: 1020px;
}


.signup-wrapper {
  padding: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* background-color: brown; */
}


.picture {
    
}

/* ///////  CSS FOR SIGNOUT PAGE ////////*/
