/* ///////  CSS FOR LOGIN PAGE ////////*/

/* ///////  CSS FOR REGISTER PAGE ////////*/
.main-content {
    min-width: 1020px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
}



.signup-wrapper {
  padding: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* background-color: brown; */
}


.picture {
    margin-top: 10%;
    margin-right: 5%
}

.sign-up-form-box {
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}
/* ///////  CSS FOR SIGNOUT PAGE ////////*/
