.topShelf {
  padding-top: 15px;
  padding-left: 35.5px;
  padding-right: 35.5px;
  background-color: #f5f5f5;
  display: flex;
  height: 200px;
}
.userStats {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}
.countLi {
  display: flex;
  margin-right: 8px;
}
.countLi > svg {
  margin: auto;
  margin-right: 2px;
}
.countLi > p {
  margin: 5px;
}
#userProfilePic {
  margin-top: 20px;
  width: 217px;
  height: 217px;
  border-radius: 6px;
  
}
#userInfoContainerDiv {
  text-align: left;
  padding-left: 25px;
  padding-top: 50px;
}
.userLocation {
  margin: 0px;
}
.mainContentContainer {
  padding: 15px;
  margin: 0px 20px;
  display:flex
}
.restaurantImg {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  
}
.userReviewContainer{
display:inline;
padding-left:25px;
}
.profileNav{
  width:217px;
  display:inline;

}
.userReview{
  display:flex;
  width:200%;
  text-align: left;
}
.restaurantTitle{
  font-size: 15px;
}
.restaurantLocation{
  font-size: 12px;
  margin:5px 0px;
}
.starAndDate{
  display:flex;
  padding-top:10px;
}
.reviewDate{
  margin:auto;
  padding-left:7px;
  font-size: 14px;
  color: #666;
}
.reviewBody{
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.greaterUserReviewContainerMarginBottom{
  margin-bottom:30px;
  border-bottom: 1px solid #e6e6e6;
}
.restaurantInfo{
  padding-left: 5px;
}
.userStatNumber{
  font-weight: bold;
}